{{ "<!-- CONTACT -->" | safeHTML }}
<div id="contact" class="container-fluid">
  <div class="row">
    <!-- <div class="col-3"></div> -->
    <div class="col-lg-6 wow bounceIn">
        {{ partial "contact_form.html" . }}
    </div>
    <div class="col-lg-3 text-center" id="other-contacts">
      {{ with .Site.Params.profile.contact.steemit }}
          <p class="wow bounceIn">steemit: <a href="https://steemit.com/@{{ . | i18n }}" target="_blank">@{{ . | i18n }}</a></p>
      {{ end }}
      {{ with .Site.Params.profile.contact.twitter }}
          <p class="wow bounceIn">twitter: <a href="https://twitter.com/{{ . | i18n  }}" target="_blank">{{ . | i18n  }}</a></p>
      {{ end }}
      {{ with .Site.Params.profile.contact.email }}
          <p class="wow bounceIn">email: <a href="mailto:{{ . | i18n }}">{{ . | i18n}}</a></p>
      {{ end }}
      {{ with .Site.Params.profile.contact.wechat_qr }}
        <h5 class="wow bounceIn">Join my public WeChat group:</h5>
          <p class="wow bounceIn"><img src="https://gateway.ipfs.io/ipfs/{{ . | i18n }}" alt="guess what" width="250px" height="250px"/></p>
      {{ end }}
    </div>
  </div>
</div>
